@import "normalize.css";

@font-face {
    font-family: Huntsman;
    src: url('../fonts/Huntsman.otf');
}

@font-face {
    font-family: Exo;
    src: url('../fonts/Exo.otf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans.ttf');
}
body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    color: #5e5e5e;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: #5E6464;
    border-radius: 5px;
    color: white;
    transition: background-color 0.2s ease-in-out;
    font-size: 20px;
}
.btn:hover {
    background-color: #acaaaa;
}
header {
    background: url("../images/promo.jpg") no-repeat;
    background-size: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.admin-header {
    margin-bottom: 100px;
}
.header-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 80px;
}
.logo-wrp {
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background: url("../images/origami-logo.svg") no-repeat;
    background-size: contain;
}
.logo-name {
    font-size: 22px;
    text-transform: uppercase;
    font-family: Huntsman, sans-serif;
    color: white;
}
.menu-wrp {
    flex: 1;
}
.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding: 0 30px;
    height: 80px;
    line-height: 80px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-link:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-link:hover {
    background: #5e5e5e;
}
.fa-shopping-basket {
    padding: 0 30px;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.fa-shopping-basket:hover {
    background: #5e5e5e;
}
.user-name {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding: 0 30px;
    font-size: 25px;
    height: 80px;
    line-height: 80px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: inline-block;
    cursor: pointer;
}
.user-name:hover {
    background: #5e5e5e;
}
.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-form input {
    width: 70%;
    margin-bottom: 30px;
}
.user-btn {
    width: 200px;
    padding: 15px;
}
.promo {
    background: url("../images/promo.jpg") no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
    margin: -27px 0 0 0;
}
.title {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: #000;
    font-family: Exo, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 2px;
}
.white {
    color: white;
}
.title-form {
    font-size: 30px;
}
.present-wrp {
    padding: 100px;
    display: flex;
}
.txt-wrp {
    margin: 0px 60px 0 0;
}
.txt-wrp p {
    font-size: 18px;
}
.img img {
    display: block;
    width: 750px;
}
footer {
    padding: 30px 100px;
    height: 300px;
    background: url(../images/footerback.png);
    color: #fff;
}
.footerInside {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copyrights {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: center;
}
.social {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.socialItem {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
.contactWrap {
    width: 100%;
    margin-bottom: 10px;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.contactIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.footerNav a {
    display: block;
    text-align: right;
    color: #e6e09a;
    margin-bottom: 10px;
    text-decoration: none;
}
.footerNav a:hover {
    color: #fff;
}
h3 {
    display: block;
    text-align: center;
    font-size: 34px;
}
.reviews-wrp {
    padding: 0 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reviews {
    flex: 0 1 45%;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 30px;
}
.author-wrp {
    display: flex;
    align-items: center;
    line-height: 0;
    border-bottom: 1px dashed #5e5e5e;
    padding: 5px;
}
.reviews-name {
    display: block;
    font-size: 24px;
    color: #022554;
    margin: 0 50px 0 0;
}
.form-wrp {
    width: 800px;
    margin: 50px auto;
}
.reviews-txt {
    font-size: 18px;
    margin: 10px;
    text-align: left;
}
.form {
    width: 600px;
    margin: 50px auto 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border: 1px solid;
    border-radius: 5px;
}
textarea {
    margin: 20px 0;
}
input,
textarea {
    padding: 10px;
    margin-bottom: 20px;
}
.form-btn {
    width: 300px;
    align-self: center;
    padding: 20px;
    cursor: pointer;
}
.cat-title {
    font-family: Exo, sans-serif;
    font-size: 45px;
    text-align: center;
    margin: 80px 0;
}
.products-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
}
.product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 0 50px 0;
    padding: 20px;
    flex: 0 1 27%;
    transition: all 0.3s ease-in-out;
}
.product:hover {
    box-shadow: 1px 1px 21px -3px #020202;
}
.prod-img {
    display: block;
    width: 100%;
    height: 250px;
}
.prod-name {
    font-family: Exo, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0 0 0;
}
.short-desc {
    margin: 20px 0 0 0;
    text-transform: uppercase;
}
.price {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0 0 0;
}
.prod-link {
    margin: 20px 0 0 0;
    padding: 15px 25px;
    text-decoration: none;
}
.item-wrp {
    margin: 70px 0;
    padding: 0 100px;
}
.item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
}
.item-img {
    display: block;
    width: 900px;
    margin-right: 50px;
}
.short-desc-item {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.desc {
    text-align: center;
}
.item-name {
    font-size: 40px;
    text-transform: uppercase;
}
.item-desc {
    font-size: 20px;
    text-align: left;
}
.item-price {
    display: block;
    margin: 40px 0;
    font-size: 36px;
}
.item-btn {
    padding: 10px 35px;
    text-decoration: none;
}
.item-btn:hover {
    background-color: #acaaaa;
}
.admin-form-wrp {
    padding: 0 100px;
    margin: 0 auto;
}
.admin-form {
    display: flex;
    margin: 80px auto;
}
.admin-form img {
    width: 800px;
    margin: 0 50px 0 0;
}
.desc-wrp {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
}
.desc-wrp input {
    margin-bottom: 30px;
}
.admin-form p {
    margin: 0;
}
.admin-form textarea {
    width: 100%;
    height: 150px;
    resize: none;
    margin: 0 0 20px;
}
.admin-form-btn {
    width: 200px;
    margin: 20px 0 0 0;
    padding: 15px 25px;
    border-radius: 5px;
    align-self: center;
}
.admin-form-btn:hover {
    background-color: #acaaaa;
}
.basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.basket-img {
    display: block;
    width: 100px;
}
.cart-name-wrp {
    flex: 1 1;
    margin: 0 0 0 40px;
}
.basket-name {
    margin: 0 30px 0 0;
    font-size: 26px;
    font-weight: 600;
}
.count-wrp {
    margin: 0 120px 0 0;
    display: flex;
    align-items: center;
}
.basket-count {
    margin: 0 15px;
    font-size: 22px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}
.fa-plus,
.fa-minus {
    cursor: pointer;
    border: 1px solid #5E6464;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.fa-plus:hover,
.fa-minus:hover {
    color: white;
    background-color: #5E6464;
}
.basket-price {
    font-size: 24px;
    font-weight: 600;
}
.cart-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
}