{% include 'header.html' %}

<h3 class="cat-title">{{ title }}</h3>

<div class="basket">
	<table class="basket-table">
		<tr>
			<th>фото</th>
			<th>артикул</th>
			<th>наименование</th>
			<th>кол-во</th>
			<th>цена</th>
			<th></th>
		</tr>
	{% for good in content_data.goods %}
		{% if good %}
			<tr>
				<td><img src="images/products/{{ good.image }}" alt=" {{ good.name }} photo" class="basket-img"></td>
				<td><span class="basket-name">{{ good.id_good }}</span></td>
				<td><span class="basket-name">{{ good.name }}</span></td>
				<td>шт.&nbsp;<button class="plus" data-id="{{ good.id_good }}">+</button><span class="basket-count">{{ good.count }}</span><button class="minus prod-link" data-id="{{ good.id }}">-</button></td>
				<td><span class="price">{{ good.price * good.count }}</span></td>
				<td><span class="delete"><i class="fas fa-trash" data-id="{{ good.id_good }}"></i></span></td>
			</tr>
		{% else %}
			<tr>
				<td><span class="cat-title">В корзине нет товаров!</span></td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
</div>

{% include 'footer.html' %}