<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/category.js"></script>

	<title>{{ title }}</title>
</head>
<body>
<header class="header">
	<div class="header-wrp">
		<div class="logo-wrp">
			<div class="logo"></div>
			<div class="logo-name">Brand</div>
		</div>
		<div class="menu-wrp">
			<ul class="menu">
				<a class="menu-link" href="index.php">Главная</a>
				<a class="menu-link" href="index.php?path=review/index">Отзывы</a>
				<a class="menu-link" href="index.php?path=catalog/catalog">каталог</a>
<!--				<?php if (!$user):?>-->
				<a class="menu-link" href="index.php?c=user&act=reg">Регистрация</a>
				<a class="menu-link" href="index.php?c=user&act=login">Войти</a>
				<a href="index.php?c=page&act=cart"><i class="fas fa-shopping-basket"></i></a>
<!--				<?php else:?>-->
<!--				<?php foreach	($user as $u):?>-->
<!--				<?php if ($u['role'] == 1):?>-->
<!--				<a class="menu-link" href="index.php?c=admin&act=goods">Товары</a>-->
<!--				<a class="menu-link" href="index.php?c=admin&act=add">Добавить товар</a>-->
<!--				<a class="menu-link" href="index.php?c=admin&act=order">Заказы</a>-->
<!--				<a class="menu-link" href="index.php?c=user&act=logout">Выйти</a>-->
<!--&lt;!&ndash;				<?php else:?>&ndash;&gt;-->
<!--				<a class="menu-link" href="index.php?c=user&act=account">Личный кабинет</a>-->
<!--				<a class="menu-link" href="index.php?c=user&act=logout">Выйти</a>-->
<!--				<a href="#"><i class="fas fa-shopping-basket"></i></a>-->
<!--				<?php endif;?>-->
<!--				<?php endforeach;?>-->
<!--				<?php endif;?>-->
			</ul>
		</div>
	</div>
</header>
<main>


<!--<ul>-->
<!--	{% for category in categories %}-->
<!--	<li>-->
<!--		<a href="/categories/?id={{ category.id_category }}" link="{{ category.id_category }}" class="menu-link">{{ category.name }}</a>-->
<!--	</li>-->
<!--	{% endfor %}-->
<!--</ul>-->

<!--<div>-->
<!--	<a href="/user/">Личный кабинет</a>-->
<!--</div>-->





